<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nattomato</title>
    <link rel="icon" href="/static/images/icon.png">
    <link rel="stylesheet" href="/static/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/templates/main/home.html" class="logo">Nattomato</a>
        <nav>
            <ul class="nav-links">
                <li><a href="/templates/main/home.html" class="navbar-item">Portfolio</a><li>
                <li><a href="/templates/main/about.html" class="navbar-item">About</a></li>                  
                <li>
                    <a href="#" class="navbar-item">Services▾</a>
                    <div class="dropdown">
                        <ul>
                            <li><a href="/templates/main/recipe.html" class="navbar-item">Recipe</a></li>
                            <li><a href="/templates/main/cardgame.html" class="navbar-item">Game</a></li>
                            <li><a href="/templates/main/quiz.html" class="navbar-item">Quiz</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <div class="portfolio">
        <div class="portfolio-1">
            <div class="portfolio-1-text">
                <h1>Natalie <span style="color: rgb(175, 20, 111);">Pang</span></h1>
                <p>Year 2 undergraduate student in <span>Computer Science</span>. Working hard to become a <span>Data Analyst</span> and <span>Software Developer</span> in the future. Interested in working with data to make decisions and solve problems.</p>
            </div>
            <div class="portfolio-icon">
                <img src="/static/images/anya.png">
            </div>
        </div>
        <div class="portfolio-3">
            <h1>About Me</h1>
            <p>I am a passionate computer science student with a strong background in website development, data analysis, and software development. Throughout my academic journey, I have dedicated myself to expanding my knowledge and skills in various areas of computer science. In particular, I have made significant progress in the field of website making, where I have honed my skills in front-end development, responsive design, and user experience optimization. Additionally, my expertise extends to data analysis, where I have gained hands-on experience in designing efficient database systems and ensuring data integrity. Moreover, I have delved into the realm of software development, where I have cultivated proficiency in programming languages, algorithm design, and software architecture. With a relentless curiosity and a drive for innovation, I am constantly seeking new challenges to further enhance my abilities and contribute to the ever-evolving world of technology.</p>
        </div>
        <div class="portfolio-2">
            <div class="box-container">
                <div class="box">
                    <h3>Programming Languages</h3>
                    <div class="portfolio-2-list">
                        <ul>
                            <li>Python</li>
                            <li>Java</li>
                            <li>C</li>
                            <li>C#</li>
                            <li>JavaScript</li>
                        </ul>
                    </div>
                    <a href="https://www.python.org/" target="_blank"><img src="/static/images/languages/python.png"></a>
                    <a href="https://www.java.com/en/" target="_blank"><img src="/static/images/languages/java.png"></a>
                    <a href="https://visualstudio.microsoft.com/vs/features/cplusplus/" target="_blank"><img src="/static/images/languages/c.png"></a>
                    <a href="https://visualstudio.microsoft.com/vs/features/cplusplus/" target="_blank"><img src="/static/images/languages/c++.png"></a>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"><img src="/static/images/languages/javascript.png"></a>
                </div>
                <div class="box">
                    <h3>Tools</h3>
                    <div class="portfolio-2-list">
                        <ul>
                            <li>PyCharm</li>
                            <li>IntelliJ</li>
                            <li>VSCode</li>
                            <li>DBeaver</li>
                            <li>Sublime</li>
                        </ul>
                    </div>
                    <a href="https://www.jetbrains.com/pycharm/" target="_blank"><img src="/static/images/tools/pycharm.png"></a>
                    <a href="https://www.jetbrains.com/idea/" target="_blank"><img src="/static/images/tools/intellij.png"></a>
                    <a href="https://code.visualstudio.com/" target="_blank"><img src="/static/images/tools/vscode.png"></a>
                    <a href="https://dbeaver.io/" target="_blank"><img src="/static/images/tools/dbeaver.png"></a>
                    <a href="https://www.sublimetext.com/" target="_blank"><img src="/static/images/tools/sublime.png"></a>
                </div>
                <div class="box">
                    <h3>Programming Languages</h3>
                    <div class="portfolio-2-list">
                        <ul>
                            <li>Python</li>
                            <li>Java</li>
                            <li>C</li>
                            <li>C#</li>
                            <li>JavaScript</li>
                        </ul>
                    </div>
                    <a href="https://www.python.org/" target="_blank"><img src="/static/images/languages/python.png"></a>
                    <a href="https://www.java.com/en/" target="_blank"><img src="/static/images/languages/java.png"></a>
                    <a href="https://visualstudio.microsoft.com/vs/features/cplusplus/" target="_blank"><img src="/static/images/languages/c.png"></a>
                    <a href="https://visualstudio.microsoft.com/vs/features/cplusplus/" target="_blank"><img src="/static/images/languages/c++.png"></a>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"><img src="/static/images/languages/javascript.png"></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
