*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
   /* background-color: hsl(148, 100%, 87%); */
   background-color: #ffbf47;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #24252A;
    margin: 0 auto;
}

@keyframes logoAnimation {
    0% {
        transform: translateY(0);
    }
    33% {
        transform: translateY(-3px);
    }
    66% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(0);
    }
}

.logo{
    cursor: pointer;
    font-weight: 700;
    font-size: clamp(20px, 2.5vw, 28px);
    color: #87dfff;
    text-decoration: none;
}

.logo:hover {
    animation: logoAnimation 2s infinite;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.nav-links li {
    list-style: none;
    padding: 0 8px;
    margin: 0 auto;
}

.nav-links a{
    list-style-type: none;
    display: block;
    font-weight: 500;
    font-size: clamp(14px, 2.5vw, 22px);
    color: #fff;
    text-decoration: none;
    margin: 0;
    transition: color 0.5s, text-shadow 0.5s;
}

.navbar-item:hover {
    color: #ff1d70;
    text-shadow: 0 0 10px #ff1d70;
    text-decoration: underline;
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0,136,169,0.8);
}

.dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    right: 10px;
    background: #24252A;
}

.nav-links li:hover .dropdown {
    display: block;
}

.dropdown ul {
    display: block;
    margin: 10px;
}

.dropdown ul li {
    width: 90px;
    padding: 10px;
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card-game-heading {
    padding: 10px 0;
    justify-content: center;
    text-align: center;
}

.card-game-heading h1 {
    color: #421a7e;
    font-weight: 600;
    font-size: clamp(22px, 2.5vw, 35px);
}

.card-game-heading p {
    font-weight: 400;
    font-size: clamp(17px, 2.5vw, 22px);
}

.card-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.card-size {
    width: min(25vw, 200px);
    min-width: 150px;
    aspect-ratio: 2 / 3;
}

.card {
    background-color: #ffffff;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-align: center;
}

.card-text {
    font-size: clamp(14px, 2.5vw, 22px);
}

.card:hover {
    transform: translateY(-5px);
}
  
.card.flip {
    transform: rotateY(180deg);
}

.card-inner {
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
}

.card-front,
.card-back {
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card-front {
    transform: rotateY(0deg);
    background-color: #ffffff;
}

.card-back {
    transform: rotateY(180deg);
    background-color: #99ccff;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    transform: rotateY(180deg);
}

.card.flip .card-inner {
    transform: rotateY(180deg);
}

.card.flip .card-front {
    transform: rotateY(-180deg);
}