<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/templates/main/home.html" class="logo">Nattomato</a>
        <nav>
            <ul class="nav-links">
                <li><a href="/templates/main/home.html" class="navbar-item"><button class="home-button">HOME</button></a></ul>li>
                <li><a href="#" class="navbar-item"><button>About</button></a></li>
                <li><a href="#" class="navbar-item"><button>Contact</button></a></li>                  
                <li>
                    <a href="#" class="navbar-item"><button>Services ▾</button></a>
                    <div class="dropdown">
                        <ul>
                            <li><a href="#" class="navbar-item">Game</a></li>
                            <li><a href="#" class="navbar-item">Quiz</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <main>
       {% block content %}
       {% endblock %}
    </main>
</body>
</html>